* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html, body {
    margin: 0;
    scroll-padding-top: 60px;
}
.logo {
    font-weight: bold;
    font-size: 16px;
    color: whitesmoke;
}

header {
    color: whitesmoke;
    height: 100vh;
    text-align: center;
    background-image: url(../images/pexels-daniel-smyth-83914874-11195817.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
    h1 {
        font-size: 48px;
        text-align: center;
        font-variant: small-caps;
        padding-top: 10px;
        color: whitesmoke;
    }
    span {
        text-transform: uppercase;
        font-size: 16px;
        text-align: center;
    }
    p {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14px;
        text-align: center;
    }
    button {
        height: 40px;
        width: 200px;
        background-color: rgba(245, 245, 245, 0.87);
        color: black;
        text-transform: lowercase;
        font-size: 14px;
        border: 2px solid rgba(245, 245, 245, 0.87);
        border-radius: 14px;
        border-bottom-right-radius: 0;
    } 
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: whitesmoke;
    height: 50px;
    padding: 1em;
    width: 100%;
    font-size: 16px;
    position: fixed;
    background-color:#333;
    opacity: 0.9;
    z-index: 3;
    svg {
        width: 20px;
        height: 20px;
    }
    a:link {
        color: white;
        text-decoration: none;
    }
    a:visited {
        color: white;
        text-decoration: none;
    }
    a:hover {
        font-weight: bold;
        text-decoration: none;
    }
    a svg:hover {
        width: 22px;
        height: 22px;
    }
}
.menu {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.menu li:nth-last-of-type(1),
.menu li:nth-last-of-type(2) {
    list-style-type: none;
}
.menu > li {
    margin: 0 1rem;
    overflow: hidden;
    list-style-position: inside;
} 
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
#menu-toggle {
    display: none;
}
.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: whitesmoke;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}
.menu-button::before {
    content: '';
    margin-top: -8px;
}
.menu-button::after {
    content: '';
    margin-top: 8px;
}
#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
   transform: rotate(405deg);
} 
#menu-toggle:checked + .menu-button-container .menu-button {
    background: black;
} 
#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.section-container { 
    text-align: center;
    padding: 40px 8% 40px;
    h2 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0;
    }
    p {
        font-size: 12px;
        margin: 0;
        padding-top: 5px;
        padding-bottom: 10px;
    }
}
.line-through {
    text-decoration: line-through orange solid 1px;
}

.what-we-do {
    align-content: center;
    text-align: center;
    .circle-icon {
        width: 80px;
        height: 80px;
        background-color: black;
        color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }
    .what-we-do-container {
        display: flex;
        justify-content: center;
        p {
            padding-top: 5px;
        }
        .icon {
            display: block;
            padding: 20px;
        }
    }
}

.about {
    align-content: center;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    align-items: center;
    text-align: left;
    img {
    width: 70%;
    height: 100%;
    grid-row: 1 / 4;
    grid-column: 1;
    align-self: center;
    justify-self: center;
    }
    h2 {
    grid-row: 1;
    grid-column: 2;
    align-self: center;
    }
    p {
    grid-row: 2;
    grid-column: 2;
    align-self: center;
    }
    button {
    grid-row: 3;
    grid-column: 2;
    width: 120px;
    height: 35px;
    background-color: black;
    color: whitesmoke;
    border-radius: 16px 16px 0px 16px;
    align-self: center;
    font-size: 12px;
    }
}
.portfolio {
    text-align: left;
}
.portfolio h2,
.portfolio p {
    padding-bottom: 20px;
}

.portfolio-images {
    height: 550px;
    width: 100%;
    .image1 {
        float:left;
        width:55%;
        height:50%;
        object-fit: cover;
    }
    .image2 {
        float:left;
        width:45%;
        height:50%;
        object-fit: cover;
    }
    .image3 {
        float:left;
        width:45%;
        height:50%;
        object-fit: cover;
    }
    .image4 {
        float:left;
        width:55%;
        height:50%;
        object-fit: cover;
    }
}
.reviews .item {
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    background: white;
	border:1px solid #ECECEC;
	box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
    h4 {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
        padding: 0;
        margin: 0;
    }
    .p-orange {
        color: orange;
        font-size: 14px;
        padding: 0;
    }
    p {
        font-size: 12px;
        padding-top: 10px;
    }
    span {
        font-size: 48px;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
	}
.owl-carousel {
    img {
    max-width: 80px;
    max-height: 80px;
    justify-self: center;
    padding: 10px;
    }
}

.dark-bar {
    background-color: #333;
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
    padding: 40px 0 20px;
    text-align: center;
    .stat h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    }
    .stat p {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0 0;
    }
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    h2 {
        text-transform: uppercase;
        padding-bottom: 40px;
        display: block;
    }
}
.form-container {
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 800px;
}
.callback-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    .form-input, .form-textarea {
    width: 100%;
    padding: 20px 15px;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
    }
    .form-textarea {
    height: 100px;
    resize: none;
    }
    .form-input:focus, .form-textarea:focus {
    border-color: #666;
    }
    .form-button {
    background-color: #ffcc00;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 20px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    }
    .form-button:hover {
    background-color: #e6b800;
    }
}

.map img {
    opacity: 0.5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.map img:hover {
    opacity: 1;
}

.contact-and-footer {
    background-color: black;
    margin: 0;
    padding-bottom: 10px;
    opacity: 0.8;
}
footer {
    box-sizing: border-box;
    color: whitesmoke;
    align-content: center;
    justify-self: center;
    border-top: 1px dotted whitesmoke;
    text-align: center;
    font-size: 12px;
}
.contact {
    box-sizing: border-box;
    color: whitesmoke;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: space-between;
    text-align: left;
    h3 {
        font-size: 20px;
        padding-bottom: 20px;
        margin: 0;
    }
    p {
        font-size: 14px;
    }
}
.address i {
    font-size: 15px;
    padding-right: 15px;
}
.instagram {
    justify-self: center;
}
.instagram i {
    font-size: 30px;
}
.newsletter {
    text-align: left;
    button, input {
        display: block;
        margin-bottom: 15px;
    }
    i {
      padding-right: 15px;
      font-size: 15px;  
    }
}

@media (max-width: 1000px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid black;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: whitesmoke;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid black;
    }
    header h1 {
        font-size: 24px;
        letter-spacing: 1px;
        word-spacing: 2px;
    }
    header span {
        font-size: 14px;
    }
    header button {
        width: 100px;
        font-size: 10px;
        border: 2px solid whitesmoke;
    }
    section p {
        font-size: 10px;
    }
    section h2 {
        font-size: 14px;
    }
    .dark-bar {
        margin: 100px 0;
        .stat h2 {
            font-size: 16px;
            padding-top: 10px;
            padding-bottom: 0;
        }
        .stat p {
            font-size: 14px;
            padding: 0;
        }
    }
    .reviews .item {
        h4 {
            font-size: 14px;
        }
        .p-orange, p {
            font-size: 12px;
        }
        span {
            font-size: 14px;
        }
    }
    .section-container {
        padding: 20px 8% 20px;
    }
    .instagram i {
        font-size: 24px;
    }
} 
@media (max-width: 800px) {
    .contact {
        h3 {
            font-size: 16px;
        }
        p {
            font-size: 12px;
        }
        .instagram i {
            font-size: 24px;
        }
        .newsletter input,
        .newsletter button {
            font-size: 14px;
            width: 170px;
        }
    }
}

@media (max-width: 700px) {
    .top-nav {
        padding-right: 40px;
        font-size: 14px;
    }
    .what-we-do .what-we-do-container {
        flex-wrap: wrap;
        .icon {
            text-align: center;
            margin: 3px;
            padding: 2px;
            display: block;
        }
        .circle-icon {
            padding: 2px;
        }
    }
    .about, .portfolio {
        text-align: center;
    }
    .form {
        height:fit-content;
    }
    .form-container {
        padding: 10px 10px;
        font-size: 14px;
        width: 100%;
    }
    .callback-form {
        margin: 0;
        padding: 0;
    }
    .portfolio-images {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height:auto;
        .image1, .image2, .image3, .image4 {
            width: 100%;
        }
    }
    .about {
        display: flex;
        flex-direction: column;
    }
    .map {
        padding-bottom: 10px;
    }
    .dark-bar {
        margin: 20px 0;
        display: block;
        .stat h2 {
            font-size: 16px;
            padding-top: 10px;
            padding-bottom: 0;
        }
        .stat p {
            font-size: 12px;
            padding: 0;
        }
    }
    .contact-and-footer {
        .contact {
            display: block;
            text-align: center;
            padding: 0;
            .contact-div {
                padding: 10px 20px 10px;
            }
            .contact-div h3 {
                padding: 5px 0 5px;
            }
            .contact-div p {
                padding-bottom: 5px;
                padding-top: 5px;
            }
            .newsletter {
                text-align: center;
                input, button {
                    margin: 20px auto;
                }
            }
            .instagram .col-1 {
                justify-self: center;
            }
        }
        footer {
            text-align: center;
            margin: auto;
        }
    }
    .reviews .item {
        h4 {
            font-size: 10px;
        }
        .p-orange, p {
            font-size: 9px;
        }
        span {
            font-size: 9px;
        }
    }
}

@media (min-width: 1000px) {
    .hidden {
      display: none;
    }
}